@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general */
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
.container {
    max-width: 90%;
    margin: auto;
}
h2 {
    font-size: 40px;
}
h4 {
    font-size: 22px;
    color: #2f2f2f;
}
p, a {
    font-size: 18px;
    color: #9E9E9E;
    font-weight: 500;
}

.btn {
    padding: 20px 0;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    transition: 500ms;
    width: 200px;
    cursor: pointer;
}
.btn-primary {
    background-color: #F26440;
    color: white;
}
.btn-primary:hover {
    background-color: #d64825;
    color: white;
}
.btn-secondary {
    color: #2f2f2f;
}
.btn-secondary:hover {
    background-color: rgb(215, 215, 215);
}
.text-primary {
    color: #2F2F2F;
}
.text-green {
    color: #218783;
}
.text-center {
    text-align: center;
}
.menu-toggle {
    display: none;
}

/* nav bar start */
nav {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 99;
}
.nav-wrapper {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-option ul {
    display: flex;
    gap: 40px;
}
.nav-option ul li {
    font-weight: 500;
    font-size: 18px;
}
.nav-option ul li a {
    color: #2F2F2F;
    transition: 500ms;
}
.nav-option ul li a:hover {
    color: #218783;
}
.logo h3 {
    font-size: 30px;
}
.fi {
    font-size: 30px;
    color: #218783;
    cursor: pointer;
}
.close-button {
    display: none;
}

/* nav bar end */

/* header hero start */

.grey-area {
    background-color: #F4FAF8;
}
.hero-wrapper {
    display: flex;
    justify-content: space-between;
}
.hero-wrapper .hero-left h1 {
    font-size: 50px;
    margin: 120px 0 0 0;
}
.hero-wrapper .hero-left p {
    margin: 40px 0;
    padding-right: 40px;
}
.hero-image {
    height: 700px;
}
.btn-hero {
    margin-right: 30px;
}
.counter-wrapper {
    display: flex;
    margin: 55px 0 0 0;
}
.count {
    max-width: 170px;
}
.count h2 {
    font-size: 35px;
}
.counter-wrapper .count p {
    margin-top: 15px;
}

/* hero end */

/* about start */
.about-wrapper {
    display: flex;
    margin-top: 130px;
}
.about-left img {
    max-width: 625px;
    padding: 0 60px 0 0;
}
.about-right p {
    margin: 40px 0;
}
/* about end */
/* services start */
#services {
    margin-top: 70px;
    padding: 50px 0;
}
.services-wrapper {
    display: flex;
    margin-top: 40px;
    gap: 25px;
}
.service-list {
    background-color: white;
    border-radius: 28px;
    max-width: 410px;
    margin: 0 10px;
    padding: 40px;
    box-shadow: 5px 5px 35px rgba(181, 160, 160, 0.13);
    transition: 1s;
}
.service-list:hover {
    translate: 0px -30px;
}
.service-name {
    display: flex;
    align-items: center;
}
.icon-image {
    margin: 0 15px 0 0;
}
.service-desc {
    margin: 25px 0 0 0;
}
/* services end */
/* works / slider start */
#works {
    margin: 60px 0;
}
#works .container h2 {
    margin: 50px 0;
}
.slide {
    display: flex;    
}
.slide-left {
    width: 40%;
    padding-right: 5%;
}
#slide-desc {
    line-height: 160%;
    margin: 35px 0;
}
.slide-right {
    width: 60%;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
}
.slide-right img {
    height: 400px;

}
.slider-button {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-top: -40px;
}
.btn-slider {
    width: 45px;
    height: 45px;
    background-color: #218783;
    border-radius: 50%;
    padding: 10px;
    transition: 500ms;
    cursor: pointer;
}
.btn-slider:hover {
    background-color: #127976;
}
.dots {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9E9E9E;
    display: inline-block;
    transition: background-color 600ms ease;
}
.dot-active {
    background-color: #F26440;
}
.slide-effect {
    animation: slide-effect 700ms;
}
@keyframes slide-effect {
    from {opacity: .4;}
    to {opacity: 1;}    
}
/* works/slider end */

/* testi start */

#testimonial .testi-top h2 {
    margin: 150px 0 30px 0;
}
.testi-wrapper {

    display: flex;
    gap: 25px;
    align-items: center;
    padding: 40px 0;
}
.testi-item {
    height: 70%;
    width: 33%;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 5px 5px 35px rgba(181, 160, 160, 0.13);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
}
.testi-item:hover {
    translate: 0px -30px;
}
.testi-item-bottom {
    display: flex;
    align-items: center;
}
.customer-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}
.customer-title {
    font-size: 16px;
}
/* testi end */
/* contact start */

#contact {
    margin-top: 70px;
}
.contact-wrapper {
    display: flex;
    gap: 10%;
}
.contact-left {
    width: 50%;
}
.contacts-list {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.btn-contact {
    margin-top: 20px;
}
aside { 
    width: 35%;
    border-radius: 25px;
    padding: 25px 10px 0px 10px;
}
aside > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil-pic {
    width: 50%;
    margin: auto;
    border-radius: 100%;
}
h4 {
    margin: 15px 0;
}
/* contact end */
/* footer start */
footer {
    background-color: #212121;
    margin-top: 80px;
}
.footer-logo {
    color: white;
    font-size: 25px;
}
.footer-wrapper {
    display: flex;
    padding: 40px 0;
    gap: 12%;
}
.logo-socmed {
    display: block;
}
.logo-socmed p {
    font-size: 16px;
    margin: 35px 0 15px 0;
}
.socmed-wrapper {
    display: flex;
    gap: 10%;
    padding: 0;
}
.socmed-wrapper li a img {
    width: 80%;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10%;

}
.footer-list a {
    color: #7c7c7c;
}
.footer-list a:hover {
    color: #fff;
}
.credits {
    background-color: #161616;
    padding: 20px 0;    
}
.credits p {
    font-size: 14px;
    color: #909090;
    text-align: center;
}

/* responsive */
/* ukuran tablet */
@media screen and (max-width: 768px) {
    .nav-option ul {
        gap: 15px;
    }
    /* about */
    .about-wrapper {
        flex-direction: column-reverse;
    }
    .about-right {
        margin-bottom: 60px;
    }
    .about-left img {
        padding: 0;
    }
    .about-left > img {
        width: 100%;
    }
    /* service */
    .services-wrapper {
        flex-direction: column;
        align-items: center;
    }
    /* works */
    .slide {
        flex-direction: column-reverse;
    }
    .slide-left {
        width: 100%;
        padding: 0;
    }
    .slide-right {
        width: 100%;
        overflow: hidden;
    }
    .slider-button {
        justify-content: center;
        gap: 40px;
        margin-top: 10px;
    }
    /* testi */
    .testi-wrapper {
        flex-direction: column;
        gap: 40px;
    }
    .testi-item {
        height: 100%;
        width: 100%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    /* nav */
    .hide {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
        width: 80%;
        height: 100vh;
        background-color: white;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        transition: 500ms;
    }
    .pop {
        transform: translateX(0);
        opacity: 1;

    }
    .menu-toggle {
        display: inline;
    }
    .close-button {
        display: inline;
    }

    /* header hero */
    .hero-wrapper {
        flex-direction: column;
    }
    .hero-image {
        height: 500px;
    }


    /* contact */
    .contact-wrapper {
        flex-direction: column;
    }
    .contact-left {
        width: 100%;
    } 
    aside {
        margin-top: 40px;
        width: 100%;
    }
    /* footer */
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-list > a {
        margin: 10px 0;
    }
}